name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: 'npm'

    - name: Run preflight
      run: npm run preflight

    - name: Ensure no changes
      run: git diff --exit-code